
.header{
display: flex;
justify-content: center;
margin: 2% auto;
}
.titleHeader {
    font-size: 30px;
    padding: 1% 20%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 1px solid #000;
}