<div>
  <!-- <select (change)="selectType($event)" class="custom-select"> -->
  <select [(ngModel)]="typeValue" name="typeValue" class="custom-select">
    <option selected [value]="-1">Choose type</option>
    <option *ngFor="let item of types">{{item}}</option>
  </select>

  <div class="container d-flex">
    <div class="listPokemons d-flex">

      <figure class="onePokemon" (click)="showOne(pokemon)" *ngFor="let pokemon of list | typePokemon: typeValue">
        <img class="imageInList" [attr.src]="pokemon?.image" alt="">
        <p class="title">{{ pokemon.name }}</p>
        <div class="typesPokemon d-flex">
          <div *ngFor="let type of pokemon.types">
            <button class="normal" *ngIf="type=='normal'">Normal</button>
            <button class="fire" *ngIf="type=='fire'">Fire</button>
            <button class="water" *ngIf="type=='water'">Water</button>
            <button class="grass" *ngIf="type=='grass'">Grass</button>
            <button class="flying" *ngIf="type=='flying'">Flying</button>
            <button class="fighting" *ngIf="type=='fighting'">Fighting</button>
            <button class="poison" *ngIf="type=='poison'">Poison</button>
            <button class="electric" *ngIf="type=='electric'">Electric</button>
            <button class="ground" *ngIf="type=='ground'">Ground</button>
            <button class="phychic" *ngIf="type=='psychic'">Psychic</button>
            <button class="ice" *ngIf="type=='ice'">Ice</button>
            <button class="bug" *ngIf="type=='bug'">Bug</button>
            <button class="ghost" *ngIf="type=='ghost'">Ghost</button>
            <button class="steel" *ngIf="type=='steel'">Steel</button>
            <button class="dragon" *ngIf="type=='dragon'">Dragon</button>
            <button class="dark" *ngIf="type=='dark'">Dark</button>
            <button class="fairy" *ngIf="type=='fairy'">Fairy</button>
          </div>
        </div>
      </figure>

      <button class="loadMore" (click)="loadMore()">Load more</button>
    </div>
    <div class="selectedPokemon">
      <div class="moreDetails" *ngIf="ifUserCheckOne">
        <img [attr.src]="imagePokemon" alt="">
        <p class="title">{{titlePokemon}} #{{idPokemon}}</p>
        <table>
          <tbody>
            <tr>
              <td>Type</td>
              <td>{{typePokemon}}</td>
            </tr>
            <tr>
              <td>Attack</td>
              <td>{{attackPokemon}}</td>
            </tr>
            <tr>
              <td>Defense</td>
              <td>{{defensePokemon}}</td>
            </tr>
            <tr>
              <td>HP</td>
              <td>{{hpPokemon}}</td>
            </tr>
            <tr>
              <td>SP Attack</td>
              <td>{{spAttackPokemon}}</td>
            </tr>
            <tr>
              <td>SP Defense</td>
              <td>{{spDefensePokemon}}</td>
            </tr>
            <tr>
              <td>Speed</td>
              <td>{{speedPokemon}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>

</div>
